{
	"root": true,
	"extends": "eslint:recommended",
	"globals": {
		"console": "readonly"
	},
	"parserOptions": {
		"ecmaVersion": 2020
	},
	"env": {
		"es6": true,
		"node": true
	},
	"rules": {
		"array-bracket-spacing": ["warn", "always"],
		"arrow-parens": ["warn", "always"],
		"brace-style": ["warn", "stroustrup"],
		"comma-dangle": ["warn", "always-multiline"],
		"comma-spacing": ["warn", { "before": false, "after": true }],
		"computed-property-spacing": ["warn", "always"],
		"curly": ["warn", "all"],
		"eqeqeq": ["error", "smart"],
		"func-call-spacing": ["warn", "never"],
		"indent": [
			"warn",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"key-spacing": [
			"warn",
			{
				"beforeColon": false,
				"afterColon": true
			}
		],
		"keyword-spacing": [
			"warn",
			{
				"before": true,
				"after": true
			}
		],
		"no-console": "off",
		"no-lonely-if": "warn",
		"no-multi-spaces": ["warn", { "ignoreEOLComments": true }],
		"no-shadow": "error",
		"no-unreachable": "warn",
		"no-unused-vars": "warn",
		"no-trailing-spaces": "warn",
		"object-curly-spacing": ["warn", "always"],
		"prefer-template": "warn",
		"semi": [
			"warn",
			"never",
			{ "beforeStatementContinuationChars": "always" }
		],
		"semi-spacing": ["warn", { "before": false, "after": true }],
		"spaced-comment": ["warn", "always"],
		"space-in-parens": ["warn", "always"],
		"space-infix-ops": ["warn"],
		"space-unary-ops": [
			"warn",
			{
				"words": true,
				"nonwords": false,
				"overrides": {
					"!": true,
					"!!": true
				}
			}
		],
		"switch-colon-spacing": ["warn"],
		"template-curly-spacing": ["warn", "always"],
		"template-tag-spacing": ["warn", "always"],
		//==========
		"no-case-declarations": "off",
		"no-multiple-empty-lines": ["warn", { "max": 1 }],
		"quotes": [
			"warn",
			"single",
			{ "avoidEscape": true, "allowTemplateLiterals": true }
		]
	},
	"ignorePatterns": [
		"*temp",
		"**/build/*",
		"**/*.ts",
		"**/*.json"
	]
}
